@use './colors'as *;
@use './layout'as *;

.rating__container {
    padding: 2rem 0;
}

.rating {
    background-color: hsl($clr-light-grayish-magenta);
    padding: 1rem;
    width: 100%;
    margin-bottom: 1rem;
    border-radius: 10px;

    &__icons {
        display: flex;
        gap: 0.5rem;
        justify-content: center;
        margin-bottom: 1rem;
    }

    &__mess {
        color: hsl($clr-very-dark-magenta);
        font-weight: 700;
    }
}

@include mq {
    .rating {
        display: flex;
        gap: 2rem;
        align-items: center;
        padding: 1rem 2rem;
        width: 450px;

        &__icons {
            margin-bottom: 0;
        }

        &:nth-child(2) {
            margin-left: 3rem;
        }

        &:nth-child(3) {
            margin-left: 6rem;
        }
    }
}