@use './colors'as *;
@use './layout'as *;
@use './rating'as *;
@use './card'as *;
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'League Spartan', sans-serif;
    font-size: 100%;
}

body {
    min-height: 100vh;
    font-size: 0.9375rem;
}

img {
    max-width: 100%;
}

.wrapper {
    background-image: url('../images/bg-pattern-top-mobile.svg');
}

.social {
    width: min(90%, 1240px);
    margin: 3rem auto;
    text-align: center;

    >* {
        margin-bottom: 1rem;
    }

    &__title {
        font-size: 3.25rem;
        color: hsl($clr-very-dark-magenta);
        font-weight: 700;
        line-height: 1;
        margin-bottom: 1rem;
    }

    &__description {
        color: hsl($clr-dark-grayish-magenta);
    }

}

@include mq {

    .wrapper {
        background-image: url('../images/bg-pattern-top-desktop.svg');
        background-position: center;
        background-repeat: repeat;
        background-size: cover;
    }

    .social {
        box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
        padding: 2rem 8rem;
    }

    .top {
        display: flex;
        justify-content: space-between;
    }

    .social__welcome {
        width: 40%;
        text-align: left;
    }

    .rating__container {
        width: 50%;
    }
}